@import "../../responsive.scss";

.aboutPage {
  display: flex;
  height: 100vh;

  .textContainer {
    flex: 3;

    .wrapper {
      padding-right: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 40px;
      height: 100vh;

      @include lg{
        padding-right: 80px;
      }

      @include md{
        padding: 0;
      }

      @include sm{
        padding: 0;
      }

      .title {
        font-size: 64px;

        @include lg {
          font-size: 48px;
        }
      }

      .aboutItem {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: space-between;

        h2 {
          font-size: 20px;
          font-weight: 600;
        }

        a {
          font-weight: 600; 
        color: #646fcf;
        }
      }
    }
  }

  .imgContainer {
    flex: 2;
    position: relative;
    display: flex;
    align-items: center;

    @include md {
      display: none;
    }

    img {
      width: 120%;
      position: absolute;
      right: 0;
    }
  }
}
